<launch>

    <!-- Launch Gazebo with the Turtlebot3 and World -->
    <include file="$(find my_gmapping)/launch/include/turtlebot3_gazebo.launch" />

    <!-- Launch Teleop for keyboard control -->
    <include file="$(find my_gmapping)/launch/include/turtlebot3_teleop.launch" />

    <!-- Launch rviz -->
    <include file="$(find my_gmapping)/launch/include/turtlebot3_rviz.launch" />

    <!-- Launch openslam_gmapping -->
    <!-- <include file="$(find my_gmapping)/launch/include/turtlebot3_gmapping.launch" /> -->

    <!-- Launch my implementation of gmapping -->
    <include file="$(find my_gmapping)/launch/my_gmapping.launch" />

</launch>
